<h1><%= t(:feedbacks)%></h1>

<p><%= t(:if_you_have_any_feedback)%></p>

<iframe src="https://docs.google.com/forms/d/1-nRwaJ8BcTiD_mWl9184mj1kQ_rZTXvG8wq4_2m1uPs/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
