<h1><%=t(:help_and_FAQs)%></h1>

<h3><%=t(:browser_requirements)%></h3>

<p><%= t(:please_uses)%><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome Download Page</a>.</p>

<% if current_patient %>
<% end %>

<% if current_admin %>
<% end %>
